* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg text

*.zip binary
*.rar binary
*.7z binary
*.tar binary
*.gz binary

*.mp4 binary
*.mov binary
*.avi binary
*.mkv binary

*.pdf binary
*.xlsx binary
